/* 
TODOS:
    - Add media queries
*/
:root {
    --footer-text: rgb(220, 252, 252);
}
html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    font-size: 20px;
}

.outer-page {
    display: flex;
    width: 100%;
    justify-content: center;
    
    background-image: url('./assets/clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.page {
    text-align: justify;
    display: flex;
    flex-direction: column;
    
    width: 60%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 2.5%;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.memoji {
    height: 150px;
    width: 150px;
    align-self: center;
}

hr {
    border: 3px solid #646161;
    width: 100%;
    margin-top: 0;
}

h2 {
    font-family: 'Sofia', cursive;
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: 800;
}

h1 {
    font-family: 'Sofia', cursive;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 70px;
    background-color: rgb(112, 49, 122);
    border-top: 5px solid #646161;
    color: var(--footer-text);
}
i.fab.fa-instagram {
    font-size: 25px;
    margin: 0 5px;
    color: var(--footer-text);
}

i.fab.fa-linkedin {
    font-size: 25px;
    margin: 0 5px;
    color: var(--footer-text);
}
.codeforces {
    height: 20px;
    margin: 0 5px;
}
footer > p {
    margin: 0;
}

@media (max-width: 720px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .page {
        width: 90%;
    }
}